@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@100&family=Lobster&family=Mochiy+Pop+P+One&family=Pacifico&family=Sen:wght@400..800&display=swap');

/* Variables settings */
:root {

    --color-bg: rgb(17, 17, 17,.96);

    --color-primary: #00fff2;
    --color-primary-dark: #0abdca;

    --color-secondary: rgb(255, 123, 0);
    --color-tertiary: white;

    --color-shadow: rgba(0, 0, 0, 0.452);
    --color-text: rgb(249, 249, 249);

    --font-size: 18px;
    --border-radius: 0.25em;

    --box-padding: 10px;

    --navbar-height : 80px;
}


/* Reset browser presets */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Generic classes */
.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.dispose {
    display: none;
}

.close-aside-menu {
    left: -100vw;
}

.open-aside-menu {
    left: 0;
}


.btn {
    text-transform: uppercase;
    font-weight: 600;
    background: none;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: var(--box-padding);
    border-radius: var(--border-radius);

    transition: 200ms;
}

.btn:hover {
    background: var(--color-primary);
    color: black;
}

.btn, .clickable {
    cursor: pointer;
}

.btn:active {
    background-color: var(--color-primary-dark);
}


.clickable:active {
    scale: .95;
    
}

.opened-menu {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.4em;
    color: white;
    text-align: center;
}

section {
    padding: 40px 0;
}


/* -------------------------------- */

html,
body {
    font-family: 'Sen', 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);

    color: var(--color-primary);

    background: url("../images/bg2.png") no-repeat, var(--color-bg);
    background-size: cover;

}

/* EXTRA SMALL DEVICES SETTINGS */

/* MENU */
header {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg);
    z-index: 3;
}

#navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #drawer {
    height: 100vh;
    width: 100vw;
    padding: 40px;

    overflow-y: hidden;

    position: fixed;
    top: 0px;

    background: var(--color-bg);

    transition: all 700ms;

    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;
}

#drawer #menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#drawer .disposer.clickable {
    display: block;
    float: right;
    border: none;
    background: none;
    color: var(--color-primary);
}

#drawer .disposer:hover {
    color: var(--color-secondary);
}


#drawer #menu li {
    display: block;
    margin: 40px 0;
}

nav a {
    color: var(--color-primary);
    font-weight: 600;
    display: block;
    width: 100%;

    transition: all 100ms;
    text-align: center;
}

nav a:hover {
    color: var(--color-primary-dark);

}


/* HOME SECTION */
section#home {
    margin-top: var(--navbar-height);
    position: relative;
    height: 100vh;
    padding-top: 300px;
}

section#home h1 span {
    color: var(--color-primary);
}


section#home #img-block {
    position: absolute;
    top: 0px;
    left: 0vw;
    height: 270px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section#home #img-block #self-img,
section#home #img-block #cv-download {
    width: 200px;
    margin: 0 auto;
}

section#home #img-block #self-img {
    display: block;
    border-radius: 100%;
    border: 1px solid var(--color-primary);

}

section#home #img-block #cv-download {
    height: 50px;

    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

}

section#home #img-block #cv-download:hover {
    background-color: var(--color-secondary);
    color: black;
}


section#home .row {
    margin: 20px;
    flex-direction: column;
}

section#home .row .btn {
    width: 250px;
    height: 70px;
    margin: 10px auto; 
    padding: var(--box-padding) 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ABOUT SECTION */
section#about {
    background-color: black;    
}


