@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@100&family=Lobster&family=Mochiy+Pop+P+One&family=Pacifico&family=Sen:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --purple: #d9c0f9;
    --salmon: #fbcdc7;
    --pink: #fac3e4;
    --lighter-blue: #d4f2e3;
    --light-blue: #bbe3eb;


    --color-primary: var(--lighter-blue);
    --color-secondary: var(--salmon);

    --color-shadow: rgba(0, 0, 0, 0.452);
    --color-text-hover: var(--pink);

    --font-size: 18px;
    --border-radius: 0.5em;
    
    --box-padding: 10px;
}


.container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    font-family: 'Sen', 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);

    background-color: var(--color-primary);
}

#navbar {
    background-color: var(--color-secondary);
}

#navbar nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}