:root {
    --color-primary : #801CFF;
    --color-primary-light : #C14AF9;
    --color-secondary: #CFEBE6;

    --bg-primary: #D6E1DF;
    --bg-secondary: #D8B9FF;
    --bg-tertiary: #EACFFF;

    --border-radius: .8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}