@media (min-width: 768px) {

    h1 {
        font-size: 3em;
    }

    section#home .row {
        flex-direction: row;
        width: 700px;
        margin: 0 auto;
    }

     /* PROJECTS SECTION */
     section#projects .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     section#projects .card {
        height: 350px;
        width: calc(50% - 20px);    
        margin: 10px;
    }

    section#projects .card .card-info p {
        text-align: justify;
    }


    footer {
        display: flex;
        flex-direction: row;
    }

    footer .menu {
        margin: auto;
        width: 350px;
    }
    
}