.x-padding {
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 20px;

  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #btn-open-menu i {
  font-size: 1.8rem;
}

header #btn-open-menu,
header #block-font-size button,
header nav #btn-close-menu {
  background: none;
  border: none;
  color: var(--color-primary);
}

header #block-font-size button {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.3rem;
}


/* ASIDE MENU */
header #top-navbar {
  position: fixed;
  padding: 25px 30px;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.75);

  transition: all 500ms;

  text-align: right;

}

#top-navbar #btn-close-menu {
  height: 40px;
  width: 40px;
  background:
    url("../../assets/images/cross-icon-thin.png") no-repeat center right;

  background-size: 40px 40px;
  cursor: pointer;

  display: flex;
  margin-left: auto;
  transition: all 500ms;
}

#top-navbar #btn-close-menu:hover {
  transform: rotate(90deg);
}

#top-navbar ul {
  margin-top: 10px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

#top-navbar #btn-close-menu,
#top-navbar ul a {
  color: white;
  font-size: 2rem;
}

#top-navbar #btn-close-menu:hover,
#top-navbar ul a:hover {
  color: var(--color-primary-light);

}

/* ------------------ */
/* MAIN CONTENT */
main section {
  padding-left: 20px;
  padding-right: 20px;
}

/* HOME SECTION */
main #home {
  background: linear-gradient(90deg,
      var(--bg-primary) 30%,
      var(--bg-secondary),
      var(--bg-tertiary));
  min-height: 110vh;
  padding-top: 100px;
  
}

/* PROJECT SECTION */
main #projects::before {
  content: " ";
  display: block;
  height: 100px;
  width: 100%;

  position: absolute;
  top: -100px;
  left: 0;

  background: linear-gradient(180deg,
      transparent,
      white);
}

/* PROJECTS SECTION */
main #projects {
  position: relative;
  padding-top: 50px;
}