.x-padding {
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 20px;
  z-index: 10;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow);
  background-color: rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #btn-open-menu i {
  font-size: 1.8rem;
}

header #btn-open-menu,
header #block-font-size button,
header nav #btn-close-menu {
  background: none;
  border: none;
  color: var(--color-primary);
}

header #block-font-size button {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.3em;
}


/* ASIDE MENU */
header #top-navbar {
  position: fixed;
  padding: 25px 30px;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);

  transition: all 500ms;

  text-align: right;

}

#top-navbar #btn-close-menu {
  height: 40px;
  width: 40px;
  background:
    url("../../assets/images/cross-icon-thin.png") no-repeat center right;

  background-size: 40px 40px;
  cursor: pointer;

  display: flex;
  margin-left: auto;
  transition: all 500ms;
}

#top-navbar #btn-close-menu:hover {
  transform: rotate(90deg);
}

#top-navbar ul {
  margin-top: 10px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

#top-navbar #btn-close-menu,
#top-navbar ul a {
  color: white;
  font-size: 2rem;
}

#top-navbar #btn-close-menu:hover,
#top-navbar ul a:hover {
  color: var(--color-primary-light);

}

/* ------------------ */
/* MAIN CONTENT */
main section {
  padding-left: 20px;
  padding-right: 20px;
}

main #projects h2,
main #services h2 {
  margin-bottom: 30px;
}

main #my-stack h2,
main #about h2 {
  margin-bottom: 15px;
}

/* HOME SECTION */
main #home {
  background: linear-gradient(90deg,
      var(--bg-primary) 30%,
      var(--bg-secondary),
      var(--bg-tertiary));
  min-height: 120vh;
  padding-top: 100px;
  padding-bottom: 150px;
}

#home #top-techs {
  width: 100%;
  text-align: center;
}

#home #introduction {
  margin-top: 30px;
}

#home #introduction h1 {
  font-size: 1.2em;
  color: var(--color-text);
  margin: 0;
}

#introduction #subtitle {
  font-size: 1.8em;
  font-family: "font-bold";
}

#introduction #description {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: justify;
  width: 100%;
  color: var(--color-text);
}


#home #btn-top-group .btn {
  width: 100%;
  height: 60px;

  margin-top: 20px;
}


/* PROJECT SECTION */
main #projects::before {
  content: " ";
  display: block;
  height: 100px;
  width: 100%;

  position: absolute;
  top: -100px;
  left: 0;
  background: linear-gradient(180deg,
      transparent,
      white);
}

main #projects {
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px;
  z-index: 2;

}

#projects .card {
  border: 1px solid rgb(77, 77, 77, .2);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 3px rgba(77, 77, 77, 0.2);

  padding: 20px;
}

.card .project-img {
  display: block;
  width: 300px;
  margin: 0px auto;
}

.card .project-techs {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

.card .project-techs img {
  height: 30px;
}

.card h3 {
  color: var(--color-primary);
  font-family: "font-light";
  margin-bottom: 8px;
}

.card p {
  font-size: .9em;
}

.card .card-btn-group {
  margin-top: 30px;
}

.card .card-btn-group .btn {
  width: 100%;
}

.card .card-btn-group .btn-primary {
  margin-bottom: 10px;
}

/* SERVICES SECTION */
main #services,
footer {
  background: linear-gradient(90deg,
      var(--color-primary-light),
      var(--color-primary));
}

main #services {
  padding-top: 60px;
  padding-bottom: 50px;

  box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5);
}

main #services h2 {
  color: white;
}

#services ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;
}

#services ul a {
  color: white;
  width: 250px;
  height: 200px;
  padding: 20px 0;

  text-align: center;
  border: 2px solid white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#services ul a:hover {
  background-color: rgba(255, 255, 255, 0.199);
}

#services ul a img {
  display: block;
  height: 80px;

  margin-bottom: 10px;
}

/* MY STACK */
main #my-stack {
  padding-top: 40px;
  padding-bottom: 80px;

  background-color: var(--color-secondary);
}

main #my-stack div {
  margin: auto;
  width: fit-content;
}

main #my-stack article {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 25px;
}

#my-stack article img {
  display: block;
  height: 100px;
  width: 100px;

  margin: auto;
}

/* ABOUT SECTION */
main #about {
  padding-top: 70px;
  padding-bottom: 50px;
}

main #about img {
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  border: 1px solid var(--color-primary);
  border-radius: 100%;
}

main #about p {
  color: var(--color-text);
  font-family: "font-bold";
  text-align: justify;
}

/* CONTACT SECTION */
main #contact {
  background-color: var(--color-secondary);

  padding-top: 40px;
  padding-bottom: 40px;
}

main #contact h2 {
  margin-bottom: 10px;
}

main #contact h2~p {
  color: var(--color-text);
  font-family: "font-bold";
}

main #form-contact {
  margin: 25px 0;
}

main #form-contact input,
main #form-contact textarea {
  resize: none;
  width: 100%;
  display: block;

  margin-bottom: 10px;
  padding: 15px 10px;

  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline-color: var(--color-primary);

  box-shadow: inset 0px 0px 1px rgb(199, 199, 199, .5);
}

main #form-contact textarea {
  height: 200px;
}

main #form-contact .btn {
  width: 100%;

  margin-top: 15px;
}

main #others-contacts {
  display: flex;
  justify-content: center;
  gap: 1em;

  margin-top: 25px;
}

main #others-contacts img {
  display: block;
  height: 50px;
}

main #others-contacts a {
  transition: all 500ms;
}

main #others-contacts a:hover {
  transform: scale(1.15);
}

/* ------------------- */
/* FOOTER */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;
}

footer nav {
  padding: 50px 0;
  width: 60%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;

}

footer nav a {
  color: white;
  font-family: "font-medium";
}

footer nav a:hover {
  color: var(--color-text);

}

footer #bottom {
 
  color: rgb(190, 190, 190);
  font-size: .9em;
  width: 100%;
  text-align: center;
}