@media (min-width: 768px) {
  /* RESET MOBILE CLASS */
  .close-menu {
    left: 0;
  }

  /* HEADER */
  header {
    padding-left: 50px;
    padding-right: 50px;
  }


  header #btn-open-menu,
  header #top-navbar #btn-close-menu {
    display: none;
  }

  

  header #top-navbar {
    position: relative;
    height: fit-content;
    padding: 0;

    width: fit-content;
    background: none;
  }

  header #top-navbar ul {
    display: flex;
    height: fit-content;
    flex-direction: row;
    gap: 50px;

    margin: 0; 
  }

  header #top-navbar ul a {
    font-size: 1em;
    color: var(--color-primary);
    font-family: "font-medium";
    padding: 0;
    margin: 0;
  }


  /* MAIN CONTENT */
  main section h2 {
    font-size: 2em;
  }

  /* HOME SECTION */
  #introduction #subtitle {
    font-size: 2.8em;
  }

  #introduction,
  #introduction #description {
    text-align: center;
  }

  #introduction #description {
    margin-bottom: 10px;
  }

  /* PROJECTS SECTION */
  #projects #projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }

  #projects .card {
    margin: 0;
    max-width: 300px;
    /* margin-right: auto; */
  }

  #projects .card .card-btn-group {
    display: flex;
    flex-direction: column;
  }

  /* MY STACK SECTION */
  main #my-stack article {
    grid-template-columns: repeat(5, 1fr);
  }

  /* ABOUT SECTION */
  main #about {
    display: flex;
    gap: 50px;
  }

  #about #profile-picture-block {
    display: block;
    flex-shrink: 0;
    width: 200px;
    text-align: center;
  }

  /* CONTACT SECTION */
  #contact #form-contact {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #form-contact div {
    display: flex;
    gap: 20px;
  }

  #form-contact #btn-submit {
    max-width: 300px;
    margin-left: auto;
  }

  /* --------------- */
  /* FOOTER */
  footer #footer-body {
    justify-content: space-around;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}